body {background-color:rgb(191, 229, 229)}
hr{border-color:rgb(84, 84, 84);
   border-style:dotted none none;
   border-height:3px;
   border-width:10px;
    width:6%;}
img{height: 300px;}
h1{color:rgb(8, 200, 136)}
h3{color:rgb(8, 200, 136)}